@using KentriosiPhotoContest.MVC.Models
@model ContestViewModel

<article>
    <h2>@Html.DisplayNameForModel()</h2>
    <p >@Url.Action("ById", "Images", new { id = @Model.ContestProfileImageId })</p>
    <img src='@Url.Action("ById", "Images", new {id= @Model.ContestProfileImageId})' alt="contest image" />
</article>