@model KentriosiPhotoContest.MVC.Models.ViewModels.Contest.OwnedContestViewModel

<div class="container user-contests-container">
    <h3>
        Title : <a href="@Url.Action("Details", "Contest", new {Id = Model.Id})">@Model.Title</a>
    </h3>
    <h4>Description: @Model.Description</h4>
    <h5><b>Created on:</b> @Model.DateCreated</h5>
    <h5><b>End date: </b> @Model.EndDate</h5>
   
    @Html.ActionLink("Update", "Update", "Contest", new { Id = Model.Id }, new { @class = "btn btn-warning owner-contest-btns" })
    @Html.ActionLink("Dismiss ", "Dismiss", "Contest", new { Id = Model.Id }, new { @class = "btn btn-danger owner-contest-btns" })
    @Html.ActionLink("Finalize", "Finalize", "Contest", new { Id = Model.Id }, new { @class = "btn btn-success owner-contest-btns" })
    
</div>

